body {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('../img/bg.jpg') no-repeat fixed;
    background-size: cover
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.txt {
    display: block;
}

a {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    color: #eee;
    font-size: 15px;
    line-height: 15px;
}

header {
    background-color: #F9FBE7;
    opacity: 0.6;
    color: #D7BDE2;
    font-size: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 35px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding: 10px 20px 10px 20px;
}

footer {
    background-color: beige;
    opacity: 0.6;
    color: #210f29;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 4px;
}

#div-1 {
    background-color: beige;
    opacity: 0.6;
    border-radius: 10px;
    border-width: 5px;
    margin-bottom: 2px;
}

#titulo-1 {
    color: rgb(139, 36, 126);
}

.paragrafo {
    color: orange;
    font-size: larger;
}

#div-2 {
    background-color: beige;
    opacity: 0.6;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 2px;
}

#titulo-2 {
    color: rgb(139, 36, 126);
}

.table,
td,
th {
    width: 500px;
    border: 1px solid;
    color: blueviolet;
}